/* General CSS */
body,html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e7e7e7;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*{
    color: #fff;
}

a, a:active, a:hover {
  color: #fff;
  text-decoration : none;
}

::placeholder{
    color: #fff;
}

/* Login page CSS */
#mainBox {
  margin: 3em auto;
  width: 25%;
  display: flex;
  flex-direction: column;

}

#mainBox img {
  margin: 3em auto;
  width: 50%;
}

#mainBox input {
  outline: none;
  padding: 1em;
  margin-top: 1em;
  background-color: black;
}

#mainBox #button {
  border: none;
  margin-top: 3em;
  color: #fff;
  font-size: 1.1em;
  background-color: #3535ee;
  cursor: pointer;
}

#mainBox #button:hover {
  background-color: #6666ee;
}

/* Group page CSS */
#groupBox {
    width : 100%;
    height : 100%;
    transition : 0.1s;
}

#groupInfo {
    width : 100%;
    height : 10%;
    display : flex;
    flex-direction : row;
    background : #99bbff;
    color : #ffffff;
    font-size : 1.2em;
}

#groupInfo * {
    width : 10%;
    text-align : center;
}

#groupInfo div {
    display : grid;
    align-items : center;
    justify-content : center;
}

#groupInfo div:hover {
    cursor : pointer;
    background : #66aaff;
}

#groupInfo input {
    width : 80%;
    font-size : 1.2em;
    text-align : left;
    box-sizing : border-box;
}

#groupTitle, #groupTitle input {
    margin : 0;
    height : 100%;
    width : 100%;
    outline : none;
    border : none;
    padding : 1em;
    color : #fff;
    background : rgba(0,0,0,0);
    margin : auto;
    font-weight : bold;
}

#messages {
    width : 100%;
    height : 80%;
    padding : 0 10%;
    overflow-y : scroll;
    box-sizing : border-box;
    color : #fff;
    background : #999;
}

#typeMessage {
    width : 100%;
    height : 10%;
    background : #99bbff;
    color : #fff;
    cursor : pointer;
    box-sizing : border-box;
    text-align : center;
    display : grid;
    align-items : center;
    justify-content : center;
}

#typeMessage:hover {
    background-color : #66aaff;
}

/* Default style for messages */
.message {
    margin : 1em 30% 1em 1em;
    padding : 1em;
    border-radius : 0.5em;
    word-break: break-all;
}

/* Changing style for self messages*/
.self {
    text-align : right;
    margin : 1em 1em 1em 30%;
}

.message .author {
    margin-bottom : 1em;
    font-weight : bold;
}

/* Styling predefined message box */
#messageBox {
    display : none;
    flex-direction : column;
    width : 50%;
    height : 60%;
    position : fixed;
    top : 20%;
    left : 25%;
    background : #999;
    overflow-y : scroll;
    padding : 1em;
    z-index : 3;
}

#messageBox div {
    width : 100%;
    margin : 0.5em 0 0.5em 0;
    padding : 1em;
    box-sizing : border-box;
    border-radius : 1em;
}

.predefinedMessage {
    word-break: break-all;
    color : #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor : pointer;
    background : linear-gradient(
        to right, 
        rgba( 255, 0, 0, 0.75 ) 0%, rgba( 255, 0, 0, 0.75 ) 33.332%,
        rgba( 255, 128, 0, 0.75 ) 33.333%, rgba( 255, 128, 0, 0.75 ) 66.665%,
        rgba( 0, 255, 0, 0.75 ) 66.666%,rgba( 0, 255, 0, 0.75 ) 100%
    )
}

/* Colors by priority */
.priority_low {
    background-color : rgba( 0, 255, 0, 0.75 );
}

.priority_medium {
    background-color : rgba( 255, 128, 0.75 );
}

.priority_high {
    background-color : rgba( 255, 0, 0, 0.75 );
}

.blurred {
    filter : blur( 3px ) brightness( 50% );
}

/* CSS for menu page*/
#menuBar {
    width: 100%;
    background-color: #99bbff;
    display: flex;
    justify-content: flex-end;
    box-sizing : border-box;
    padding: 1em;
}

#newGroup{
    border-radius: 0.2em;
    background-color: #99bbff;
    color: #fff;
    font-size: 2em;
    border: none;
    outline: none;
}

#newGroup:hover{
    background-color: #66aaff;
    cursor: pointer;   
}

#groupsLayout{
    padding: 5% 10%;
    background-color: #999;
}

.groups{
    border-radius: 1em;
    color: #fff;    ;
    background-color: #99bbff;
    margin: 0.5em 0;
    padding: 0.5em 1em;
}

/* Manage Group Settings */
#manageGroupHeader {
    width : 100%;
    height : 10%;
    display : flex;
    flex-direction : row;
    background : #99bbff;
    color : #ffffff;
    font-size : 1.2em;
    text-align: center;
}

#manageGroupHeader div{
    height: 100%;
    display: grid;
    align-items: center;;
}

#manageGroupHeader #goBack {
    width: 10%;
}

#manageGroupHeader #goBack:hover {
    background-color: #66aaff;
    cursor: pointer;
}

#manageGroupHeader #title {
    width: 90%;
    padding-right: 10%;
    text-align: center;
}

/* Group Name Editing Field */
#group_name_editing_container,
#member_edit_container,
#message_edit_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #99bbff;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.5em;
    box-sizing: border-box
}

#group_name_editing_container input,
#member_edit_container input,
#message_edit_container input {
    width: 85%;
}

#group_name_editing_container *,
#member_edit_container *,
#message_edit_container * {
    background-color: rgba(0,0,0,0);
    padding: 0.5em;
    border: none;
    outline: none;
}

#group_name_editing_container div,
#member_edit_container div,
#message_edit_container div {
    border-radius: 0.2em;
    width: 15%;
    border: 2px solid #fff
}

#group_name_editing_container div:hover,
#member_edit_container div:hover,
#message_edit_container div:hover {
    background-color: #66aaff;
    cursor: pointer;
}

/* Group Type Selection */
#group_type_container {
    margin: 1em 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

#group_type_container div {
    width: 20%;
    background-color: #99bbff;
    font-weight: 600;
    color: white;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0 2.5%;
}

.group_type div:hover{
    background-color: #66aaff;
}

/* Member Editing Field */
#member_edit_container {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

#member_edit_container input:nth-child(1) {
    width: 90%;
    margin-right: 2%;
}

/* Member List */
.memberContainer,
.message_list_container {
    margin:0;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    color: #fff;
}

.memberContainer div:nth-child(1),
.message_list_container div:nth-child(1) {
    width: 90%;
    margin-right: 2%;
    background-color: #99bbff;
    font-weight: 600;
    border-radius: 1em;
    text-align: center;
    padding: 0.5em;
    margin: 0.3em;
}

.memberContainer div:nth-child(2),
.message_list_container div:nth-child(2) {
    width: 10%;
    background: red;
    text-align: center;
    font-weight: 600;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.3em;
}

/* Message Editing Field */
#message_edit_container {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    color: #fff;
}

#message_edit_container input:nth-child(1) {
    width: 90%;
    margin-right: 2%;
}

.block_container {
    margin: 8%;
}

.label {
    font-weight: bold;
    margin: 1em 0;
}




/* 404 Page */

h2 {
    background-color: #66aaff;
    text-align: center;
}

.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 0.8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;

  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #66aaff;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  /* idk idk idk idk idk idk*/
/* .notFoundContainer {
    text-align: right;
    font-weight: 600;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.3em
}

.notFoundContainer div:nth-child(1) {
    width : 100%;
    height : 20%;
    display : flex;
    flex-direction : row;
    background : #99bbff;
    color : #ffffff;
    font-size : 1.2em;
    text-align: right;

}

.notFoundContainer img:nth-child(2) {
    max-width: 100%;
    height: auto;
    opacity: 0.2;
    transition: 3s ease;
    backface-visibility: hidden;
    
};

 */