/* General CSS */
body,html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e7e7e7;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a, a:active, a:hover {
  color: #fff;
  text-decoration : none;
}


/* Login page CSS */
#mainBox {
  margin: 3em auto;
  width: 25%;
  display: flex;
  flex-direction: column;

}

#mainBox img {
  margin: 3em auto;
  width: 50%;
}

#mainBox input {
  outline: none;
  padding: 1em;
  margin-top: 1em;
}

#mainBox #button {
  border: none;
  margin-top: 3em;
  color: #fff;
  font-size: 1.1em;
  background-color: #3535ee;
  cursor: pointer;
}

#mainBox #button:hover {
  background-color: #6666ee;
}

/* Group page CSS */
#groupBox {
    width : 100%;
    height : 100%;
    transition : 0.1s;
}

#groupInfo {
    width : 100%;
    height : 10%;
    display : flex;
    flex-direction : row;
    background : #99bbff;
    color : #ffffff;
    font-size : 1.2em;
}

#groupInfo * {
    width : 10%;
    text-align : center;
}

#groupInfo div {
    display : grid;
    align-items : center;
    justify-content : center;
}

#groupInfo div:hover {
    cursor : pointer;
    background : #66aaff;
}

#groupInfo input {
    width : 80%;
    font-size : 1.2em;
    text-align : left;
    box-sizing : border-box;
}

#groupTitle, #groupTitle input {
    margin : 0;
    height : 100%;
    width : 100%;
    outline : none;
    border : none;
    padding : 1em;
    color : #fff;
    background : rgba(0,0,0,0);
    margin : auto;
    font-weight : bold;
}

#messages {
    width : 100%;
    height : 80%;
    padding : 0 10%;
    overflow-y : scroll;
    box-sizing : border-box;
    color : #fff;
    background : #999;
}

#typeMessage {
    width : 100%;
    height : 10%;
    background : #99bbff;
    color : #fff;
    cursor : pointer;
    box-sizing : border-box;
    text-align : center;
    display : grid;
    align-items : center;
    justify-content : center;
}

#typeMessage:hover {
    background-color : #66aaff;
}

/* Default style for messages */
.message {
    margin : 1em 30% 1em 1em;
    padding : 1em;
    border-radius : 0.5em;
}

/* Changing style for self messages*/
.self {
    text-align : right;
    margin : 1em 1em 1em 30%;
}

.message .author {
    margin-bottom : 1em;
    font-weight : bold;
}

/* Styling predefined message box */
#messageBox {
    display : none;
    flex-direction : column;
    width : 50%;
    height : 60%;
    position : fixed;
    top : 20%;
    left : 25%;
    background : #999;
    overflow-y : scroll;
    padding : 1em;
    z-index : 3;
}

#messageBox div {
    width : 100%;
    margin : 0.5em 0 0.5em 0;
    padding : 1em;
    box-sizing : border-box;
    border-radius : 1em;
}

.predefinedMessage {
    color : #fff;
    cursor : pointer;
    background : linear-gradient(
        to right, 
        rgba( 255, 0, 0, 0.75 ) 0%, rgba( 255, 0, 0, 0.75 ) 33.332%,
        rgba( 255, 128, 0, 0.75 ) 33.333%, rgba( 255, 128, 0, 0.75 ) 66.665%,
        rgba( 0, 255, 0, 0.75 ) 66.666%,rgba( 0, 255, 0, 0.75 ) 100%
    )
}

/* Colors by priority */
.priority_low {
    background-color : rgba( 0, 255, 0, 0.75 );
}

.priority_medium {
    background-color : rgba( 255, 128, 0.75 );
}

.priority_high {
    background-color : rgba( 255, 0, 0, 0.75 );
}

.blurred {
    filter : blur( 3px ) brightness( 50% );
}

/* CSS for menu page*/
#menuBar {
    width: 100%;
    background-color: #99bbff;
    display: flex;
    justify-content: flex-end;
    box-sizing : border-box;
    padding: 1em;
}

#newGroup{
    border-radius: 0.2em;
    background-color: #99bbff;
    color: #fff;
    font-size: 2em;
    border: none;
    outline: none;
}

#newGroup:hover{
    background-color: #66aaff;
    cursor: pointer;   
}

#groupsLayout{
    padding: 5% 10%;
    background-color: #999;
}

.groups{
    
    border-radius: 1em;
    color: #fff;    ;
    background-color: #99bbff;
    margin: 0.5em 0;
    padding: 0.5em 1em;
}